@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  text-align: center;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  font-size: 1.5rem;
  color: #fff;
  padding: 20px;
  border-bottom: 6px solid #141414;
  background-color: #A96762;
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-blend-mode: screen;
}

#title h1 {
  font-family: 'Abril Fatface', 'cursive', sans-serif;
  text-align: center;
  font-size: 10vw;
  font-weight: 900;
  letter-spacing: .6rem;
  margin: 0 auto;
  padding: 10px;
  background-image: url("images/background-2.jpg");
  background-size:contain;
  background-clip: text;
  -webkit-background-clip: text;
  background-blend-mode: multiply;
  color: transparent;
}

.intro {
  font-size: 0.8rem;
  padding: 30px;
}

header p {
  letter-spacing: .3rem;
}

main,
.gallery,
.container {
  background-color: aliceblue;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;
  padding: 5em 4em;
  grid-gap: 1em;
  margin-bottom: -20px;
}

.gallery img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: center;
  cursor:pointer;
  border: 3px solid #A96762;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.gallery-title {
  margin: -10px auto 5px;
  font-weight: bold;
  color: #141414;
}

.lightbox-title,
.text {
  color: #fff;
  margin: 10px 20px;
  padding: 5px;
  text-align: justify;
}

.text {
  color: aliceblue;
  font-style: italic;
}

.image_desc {
  padding: 1.5em;
  display:block;
}

.container {
  overflow:hidden;
  height: fit-content;
  display:block;
  position:relative;
}

.container:hover img{
  transform: scale(1.1);
  transition-duration: .3s;
  transition-duration: .5s;
}

.button {
  display: inline-block;
  text-decoration: none;
  color: white;
  background: #A96762;
  padding: .3em .8em;
  border-radius: 4px;
  margin-top: 5px;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100wh;
  display: none;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-bottom: 2em;
  z-index: 10;
  padding: 2em;
} 

.lightbox-image {
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.lightbox_content {
  width: 80%;
  padding: 1em;
  background: #A96762;
  position: relative;
}

.lightbox:target {
  display: flex;
  transform: scale(1,1);
  /* transform-origin: left; */
}

.close {
  position: absolute;
  right: -.8em;
  top: -.8em;
  border: white 2px solid;
  width: 2.5em;
  height: 2.5em;
  background: red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.close::after {
  content: 'X';
  font-weight: 800;
  color: white;
}

footer {
  background: #A96762;
  padding: 30px;
  font-size: 0.9rem;
  color: #fff;
}

.return {
  display: inline-block;
  color: white;
  background: #ccc;
  padding: .3em 3em;
  border-radius: 4px;
  margin-bottom: 20px;
  font-size: 1.1rem;
}
 .return a {
  color: black;
  text-decoration: none;
 }
 .return a:visited {
  color: black;
 }
 .return a:hover {
  color: #A96762;
 }
 .return a:active {
  color: #fff;
 }